
  
  <div class="title">
    <h1>Projet Java 2023</h1>
  </div>
  <div class="container-pages">
    <div class="pages">
      <h3>
        <a routerLink="location"> <i class="fa fa-key" aria-hidden="true"></i> Pages Des Locations </a>
      </h3>
    </div>
    <div class="pages">
      <h3>
        <a routerLink="voiture"> <i class="fa fa-car" aria-hidden="true"></i> Pages Des Voitures </a>
      </h3>
    </div>
    <div class="pages">
      <h3>
        <a  routerLink="client" > <i class="fa fa-male" aria-hidden="true"></i> Les Cliens </a>
      </h3>
    </div>
  </div>
  
  <div class="data">
    <h2><i class="fa fa-book" aria-hidden="true"></i> Etudiant: Mohamed Ouaicha</h2>
  </div>
