<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    Projet Java </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="location"> <i class="fa fa-key" aria-hidden="true"></i> Les Locations </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="voiture"> <i class="fa fa-car" aria-hidden="true"></i>Les Voitures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="client"> <i class="fa fa-male" aria-hidden="true"></i>Les Clients</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="title">
  <h1>Projet Java 2023</h1>
</div>
<div class="container-pages">
  <div class="pages">
    <h3>
      <a routerLink="location"> <i class="fa fa-key" aria-hidden="true"></i> Pages Des Locations </a>
    </h3>
  </div>
  <div class="pages">
    <h3>
      <a routerLink="voiture"> <i class="fa fa-car" aria-hidden="true"></i> Pages Des Voitures </a>
    </h3>
  </div>
  <div class="pages">
    <h3>
      <a  routerLink="client" > <i class="fa fa-male" aria-hidden="true"></i> Les Cliens </a>
    </h3>
  </div>
</div>

<div class="data">
  <h2><i class="fa fa-book" aria-hidden="true"></i> Etudiant: Mohamed Ouaicha</h2>
</div>

